/*
 * Copyright (c) 2020 The ZMK Contributors
 *
 * SPDX-License-Identifier: MIT
 */
//#include <dt-bindings/zmk/mouse.h>

#include "mouse.dtsi"
#include <behaviors.dtsi>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/mouse.h>

/ {
    chosen {
        zmk,matrix_transform = &default_transform;

        // zmk,matrix_transform = &five_column_transform;
    };
};

/ {
    behaviors {
        td0: td0 {
            compatible = "zmk,behavior-tap-dance";
            label = "TD0";
            #binding-cells = <0>;
            bindings = <&kp INS>, <&kp CAPS>;
        };

        paren: paren {
            compatible = "zmk,behavior-mod-morph";
            label = "PAREN";
            bindings = <&kp LEFT_PARENTHESIS>, <&kp RIGHT_PARENTHESIS>;

            #binding-cells = <0>;
            mods = <(MOD_LSFT|MOD_RSFT)>;
        };

        bracket: bracket {
            compatible = "zmk,behavior-mod-morph";
            label = "BRACKET";
            bindings = <&kp LEFT_BRACKET>, <&kp RIGHT_BRACKET>;

            #binding-cells = <0>;
            mods = <(MOD_LSFT|MOD_RSFT)>;
        };

        brace: brace {
            compatible = "zmk,behavior-mod-morph";
            label = "BRACE";
            bindings = <&kp LEFT_BRACE>, <&kp RIGHT_BRACE>;

            #binding-cells = <0>;
            mods = <(MOD_LSFT|MOD_RSFT)>;
        };

        ranglelangle: ranglelangle {
            compatible = "zmk,behavior-mod-morph";
            label = "RANGLELANGLE";
            bindings = <&kp LESS_THAN>, <&kp GREATER_THAN>;

            #binding-cells = <0>;
            mods = <(MOD_LSFT|MOD_RSFT)>;
        };

        refderef: refderef {
            compatible = "zmk,behavior-mod-morph";
            label = "REFDEREF";
            bindings = <&kp AMPS>, <&kp ASTERISK>;

            #binding-cells = <0>;
            mods = <(MOD_LSFT|MOD_RSFT)>;
        };

        slash: slash {
            compatible = "zmk,behavior-mod-morph";
            label = "SLASH";
            bindings = <&kp SLASH>, <&kp BACKSLASH>;

            #binding-cells = <0>;
            mods = <(MOD_LSFT|MOD_RSFT)>;
        };

        plusminus: plusminus {
            compatible = "zmk,behavior-mod-morph";
            label = "PLUSMINUS";
            bindings = <&kp PLUS>, <&kp MINUS>;

            #binding-cells = <0>;
            mods = <(MOD_LSFT|MOD_RSFT)>;
        };

        mod_paren: mod_paren {
            compatible = "zmk,behavior-hold-tap";
            label = "MOD_PAREN";
            bindings = <&kp>, <&paren>;

            #binding-cells = <2>;
            tapping-term-ms = <200>;
            flavor = "tap-preferred";
        };

        mod_brace: mod_brace {
            compatible = "zmk,behavior-hold-tap";
            label = "MOD_BRACE";
            bindings = <&kp>, <&brace>;

            #binding-cells = <2>;
            tapping-term-ms = <200>;
            flavor = "tap-preferred";
        };

        mod_bracket: mod_bracket {
            compatible = "zmk,behavior-hold-tap";
            label = "MOD_BRACKET";
            bindings = <&kp>, <&bracket>;

            #binding-cells = <2>;
            tapping-term-ms = <200>;
            flavor = "tap-preferred";
        };

        mod_ranglelangle: mod_ranglelangle {
            compatible = "zmk,behavior-hold-tap";
            label = "MOD_RANGLELANGLE";
            bindings = <&kp>, <&ranglelangle>;

            #binding-cells = <2>;
            tapping-term-ms = <200>;
            flavor = "tap-preferred";
        };

        cmt: cmt {
            compatible = "zmk,behavior-hold-tap";
            label = "Custom Mod Tap";
            bindings = <&kp>, <&kp>;

            #binding-cells = <2>;
            tapping-term-ms = <200>;
            flavor = "tap-preferred";
        };
    };

    combos {
        compatible = "zmk,combos";

        lock {
            bindings = <&tog 4>;
            key-positions = <24 0 5 38>;
            layers = <0 4>;
        };
    };

    keymap {
        compatible = "zmk,keymap";

        default_layer {
            display-name = "Colemak";
            bindings = <
&kp ESC         &kp Q  &kp W  &kp F     &kp P        &kp G            &kp J                      &kp L        &kp U                                   &kp Y    &kp SEMICOLON       &mt BACKSPACE MINUS
&kp LEFT_SHIFT  &kp A  &kp R  &kp S     &kp T        &kp D            &kp H                      &kp N        &kp E                                   &kp I    &kp O               &kp SQT
&kp LEFT_ALT    &kp Z  &kp X  &kp C     &kp V        &kp B            &kp K                      &kp M        &kp COMMA                               &kp DOT  &mt RIGHT_ALT FSLH  &tog 4
                              &kp LGUI  &lt 1 ENTER  &mt LCTRL TAB    &mt RIGHT_SHIFT BACKSPACE  &lt 2 SPACE  &lt 3 C_AC_NEXT_KEYBOARD_LAYOUT_SELECT
            >;
        };

        Symbol {
            bindings = <
&kp GRAVE  &kp LS(EXCL)   &kp LS(LT)  &kp LS(GT)  &kp LS(LPAR)  &kp LS(RPAR)    &kp LS(AT)  &kp LS(AMPS)   &kp LS(STAR)  &kp LS(PRCNT)  &trans    &kp MINUS
&trans     &kp LS(CARET)  &kp LBKT    &kp RBKT    &kp LS(LBRC)  &kp LS(RBRC)    &trans      &kp EQUAL      &kp LS(PLUS)  &trans         &trans    &trans
&trans     &trans         &trans      &trans      &trans        &trans          &trans      &kp LS(TILDE)  &kp MINUS     &kp FSLH       &kp BSLH  &trans
                                      &trans      &trans        &trans          &trans      &trans         &trans
            >;

            label = "Symbol";
        };

        mouse {
            display-name = "MVMENT";
            bindings = <
&trans  &trans  &mkp LCLK       &mmv MOVE_UP    &mkp RCLK        &msc SCRL_UP      &kp PG_UP      &kp HOME         &kp UP       &kp END    &trans  &trans
&trans  &trans  &mmv MOVE_LEFT  &mmv MOVE_DOWN  &mmv MOVE_RIGHT  &msc SCRL_DOWN    &kp PAGE_DOWN  &kp LEFT         &kp DOWN     &kp RIGHT  &trans  &trans
&trans  &trans  &msc SCRL_LEFT  &trans          &msc SCRL_RIGHT  &trans            &trans         &kp LS(LC(TAB))  &kp LC(TAB)  &trans     &trans  &trans
                                &trans          &trans           &trans            &trans         &trans           &trans
            >;
        };

        fn {
            display-name = "Fn";
            bindings = <
&trans  &kp F1        &kp F2        &kp F3        &kp F4        &kp F5    &kp F6       &kp F7      &kp F8           &kp F9                &kp F10          &kp F11
&trans  &kp NUMBER_1  &kp NUMBER_2  &kp NUMBER_3  &kp NUMBER_4  &kp N5    &bootloader  &kp K_MUTE  &kp C_VOLUME_UP  &kp C_BRIGHTNESS_INC  &kp PRINTSCREEN  &kp F12
&trans  &kp NUMBER_6  &kp N7        &kp N8        &kp N9        &kp N0    &trans       &trans      &kp C_VOL_DN     &kp C_BRIGHTNESS_DEC  &kp SCROLLLOCK   &kp PAUSE_BREAK
                                    &trans        &trans        &trans    &trans       &trans      &trans
            >;
        };

        Gaming {
            bindings = <
&kp ESC    &kp Q  &kp W  &kp E     &kp R      &kp T      &none  &none         &none         &none         &none       &none
&kp LSHFT  &kp A  &kp S  &kp D     &kp F      &kp G      &none  &bt BT_SEL 0  &bt BT_SEL 1  &bt BT_SEL 2  &bt BT_CLR  &none
&kp LCTRL  &kp Z  &kp X  &kp C     &kp V      &kp B      &none  &none         &none         &none         &none       &none
                         &kp LGUI  &kp SPACE  &kp TAB    &none  &none         &none
            >;

            label = "GG";
        };
    };

    conditional_layers { compatible = "zmk,conditional-layers"; };
};
